*,*::before,*:after{
   box-sizing: inherit;
}

html{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html,body{
   width: 100%;
   height: 100%;

}

body{
   background: rgb(28 4 49 / 83%);
   display: flex;
   justify-content: center;
   align-items:flex-start;
}
main{
   width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
   
   
/*------------------- Header-----------------------*/   
header{
   border-radius: 15px;
   width: 100%;
   padding: 3px;
   background: linear-gradient(to right,rgba(201, 57, 230, 0.74),rgb(61, 3, 55)) ;
   list-style: none;
   display: flex;
   justify-content:space-between;
   flex-grow: 1;
    }

  .flexCajaHeader{
   display: flex;
   margin: 15px;
   border: solid black;
   background-color: rgb(173, 108, 165);
   padding: 1rem;
   flex: 1;

   }

.flexLogo_Img {
    width: 60px;
    height: 60px;  
    border-radius:40px;;
    padding: 0px;
    border: 5px solid rebeccapurple ;
}

.navBar{
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap; 
   width: 700px;
}
.navItem{
   list-style: none;
   
}
.navLink{
   text-decoration: none;
   color: blanchedalmond;
   font-weight:  bolder;
   padding: 4px;
   font-size: 17px;
   border: 5px solid rebeccapurple;
   border-radius:15px;
   
}

/*----------------ArticleBox-----------------------*/
.flexConteiner{
   display: flex;
   width: 100%;
   padding: 2px;
   background-color: rgb(89 41 133 / 69%);
   flex-direction: column;
   align-items: center;
   border-radius: 15px;
    }
.flexArticle{
   display: flex;
   flex-direction: column;
   padding: 0.1rem;
   border-radius: 15px;
   flex-wrap: wrap;
   align-items: center;
   

} 
/*---------------- pagePosteos-----------------------*/               
.flexConteinerPosteo{
   display: flex;
   width: 100%;
   padding: 2px;
   background-color: rgb(89 41 133 / 69%);
   
   align-items: center;
   border-radius: 15px;
   min-height: 460px;

}

.box1{
   display: flex;
   width: 20%;
   background: linear-gradient(to right,rgba(201, 57, 230, 0.74),rgb(61, 3, 55)) ;
   min-height: 460px;
   justify-content: center;
   border-radius: 7px;
   
   
}
.box1Model1{
   width: 50%;
   margin-left: 5px;
   background: linear-gradient(to right,rgba(122, 113, 156, 0.74),rgb(75, 43, 72)) ;
   min-height: 460px;
   padding: 30px, 0, 0, 0, ;
   border-radius: 7px;
}
.section_1{
    display: flex;
    justify-content: center;
    
}

.navBoxLateral{
   display: flex;
   flex-direction: column;
   background: rgb(136, 89, 163);
   justify-content: center;
   align-content: center;
   
}
.navLateral{
   display: flex;
   flex-direction: column;
   list-style: none;
   height: 70%;
   background: rgb(136, 89, 163);
   justify-content: space-between;
   align-items: center;
   padding: 0;
   border-radius: 7px;
}
.navItemLateral{
   text-align: center;
}

.box2{
   width: 80%;
   margin-left: 5px;
   background: rgb(136, 89, 163);
   min-height: 350px;
   padding: 30px, 0, 0, 0, ;
   border-radius: 7px;
}
.box2Model2{
   width: 50%;
   margin-left: 5px;
   background: linear-gradient(to right,rgba(122, 113, 156, 0.74),rgb(75, 43, 72)) ;
   min-height: 45px;
   padding: 30px, 0, 0, 0, ;
   border-radius: 7px;
   
}
.contact-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
/*---------------- Letras-----------------------*/
.title{
   font-family: 'Balsamiq Sans', cursive;
   
   color: rgba(245, 245, 239, 0.63);
   text-align: center;
   
}
.subtitle{
   font-family: 'Dancing Script', cursive;
   color: rgba(58, 58, 40, 0.63);
   text-align: center;
}
.paragraph{

      font-family: 'Zen Kurenaido', sans-serif;
      color: rgba(11, 11, 12, 0.63);
      text-align: center;

}
/*---------------- Contenido centro -----------------------*/
.flexArticle-1{
   background-color: rgb(200, 199, 216);
   
}
.imgBox1{
   animation: from-right 1.5 ease 3s;
   display: flex;
   width: 1220px;
   height: 490px;
   border-radius: 15px;
}

   
.flexArticle-2{
   background-color: rgb(15, 67, 179);
   width: 100%;
}

.boxGrid{
   
    display: grid;
    min-height: 100vh;
    width: 100%;
    margin: 5px;
    grid-gap:10px;
    border-radius: 15px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(rgba(201, 57, 230, 0.74),rgb(61, 3, 55)) ;
    
    grid-template-areas: 
    "A B C"
    "D E F";
}

.banner{
   position: relative;
   border-radius: 15px;
   margin: 5px 5px 5px 5px;
   text-align: center;
   background-color: white;
   box-shadow: 0px 15px 25px
   rgba(0,0,0,0.50);
   cursor: pointer;
   

}


.bannerImg {
   animation: from-right 1.5 ease 3s;
   width: 385px;
   height: 200px;  
   padding: 0px;
   border-radius: 15px;
   margin: 5px 5px 5px 5px;
   
}
.capa{
      top:0;
   width: 100%;
   height: 100%;
   border-radius: 15px;
   background: rgba(207, 136, 204, 0.8);
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   text-align: center;
}
.capa p{
   position: relative;
   top: 52px;
}

.banner:hover > .capa{
   opacity: 1;
   visibility: visible;
}

.bannerGridA{
   grid-area: A;
   
}
.bannerGridB{
   grid-area: B;
   
}
.bannerGridC{
   grid-area: C;
   
}
.bannerGridD{
   grid-area: D;
   
}
.bannerGridE{
   grid-area: E;
   
}
.bannerGridF{
   grid-area: F;
   
}

/*-----------------FooterBox---------------------------*/
footer{
    display: flex;
    width: 100%;
    min-height: 25px;
    padding: 0.1rem;
    background: linear-gradient(to left,rgba(201, 57, 230, 0.74),rgb(61, 3, 55)) ;
    border-radius: 7px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

/*-----------------Animaciones---------------------------*/

@keyframes from-right{
   0%{
      opacity: 0;
      transform:translateX(80px) ;
   }
   100%{
      opacity: 1;
      transform: translateX(0px);
   }

}