@import "variables";
@import "header";

.main-index {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 25px;
  .box-index {
    background-color: $primary-color-1;

    &-titulo {
      font-family: $font-primary-0;
      font-size: $font-size-3;
      text-align: center;
    }
  }

  .parrafo-index {
    font-family: $font-primary-1;
    font-size: $font-size-1;
  }
}
