/*Variables color*/
$primary-color:rgb(27, 27, 143);
$primary-color-1:rgb(255, 255, 255);
$primary-color-2:rgba(9, 121, 248, 0.603);
$primary-color-3:black;


/*Letras*/
$font-primary-0:
'Pattaya', sans-serif,
'Zen Kurenaido',sans-serif;

$font-primary-1: 'Architects Daughter', cursive,
'Balsamiq Sans', cursive,
'Dancing Script', cursive,
'Lobster', cursive,
'Meow Script', cursive,
'Zen Kurenaido';

/*Tamaño Letras*/
$font-size:10px;
$font-size-1:20px;
$font-size-2:30px;
$font-size-3:50px;

